header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1rem 1rem 1rem;
}
.userInfo {
  display: flex;
  .userIcon {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #e6e6e6;
    margin-right: 1rem;
  }
  .name {
    font-size: 3rem;
  }
  .email {
    font-size: 1.8rem;
  }
}
.logout {
  display: inline-block;
  background-color: crimson;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    background-color: rgb(142, 13, 39);
    color: rgb(205, 205, 205);
  }
}
.editBtn {
  display: inline-block;
  background-color: rgb(55, 193, 239);
  padding: 1rem 2rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    background-color: rgb(169, 216, 231);
  }
}
